@{
    ViewBag.Title = "Azure Dev Spaces";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p>This is the code for <a href="https://robrich.org/slides/debug-kubernetes-devspaces/#/">Debugging Kubernetes with Azure Dev Spaces</a>.</p>
    <p>This sample created by <a href="https://robrich.org/">Rob Richardson</a>.</p>
    <p>License: MIT</p>
</div>
