@{
	ViewBag.Title = "Azure Dev Spaces";
}

<div class="text-center">
	<h1 class="display-4">@ViewBag.Title</h1>
	<p>This is the code for <a href="https://robrich.org/slides/debug-kubernetes-devspaces/#/">Debugging Kubernetes with Azure Dev Spaces</a>.</p>
</div>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<p>View some content on this site:</p>
			<ul>
				<li>
					<a href="/report">Report</a>
				</li>
				<li>
					<a href="/warnings">Warnings</a>
				</li>
			</ul>
		</div>
	</div>
</div>
