@{
	ViewBag.Title = "TPS Report";
}

<div class="text-center">
	<h1 class="display-4">@ViewBag.Title</h1>
</div>

<p>
	A TPS report (Testing Procedure Specification) is a document used by a quality assurance group or individual, particularly in software engineering, that describes the testing procedures and the testing process.
</p>


<h2>Definition</h2>
<p>
	The official definition and creation is provided by the Institute of Electrical and Electronics Engineers (IEEE) as follows:
</p>

<h2>IEEE 829 – Test Procedure Specification</h2>

<p>
	The Test Procedures are developed from both the Test Design and the Test Case Specification. The document describes how the tester will physically run the test, the physical set-up required, and the procedure steps that need to be followed. The standard defines ten procedure steps that may be applied when running a test.
</p>

<h2>In popular culture</h2>
<p>
	After its use in the comedic 1999 film Office Space, &quot;TPS report&quot; has come to connote pointless, mindless paperwork, and an example of &quot;literacy practices&quot; in the work environment that are &quot;meaningless exercises imposed upon employees by an inept and uncaring management&quot; and &quot;relentlessly mundane and enervating&quot;. According to the film's writer and director Mike Judge, the abbreviation stood for &quot;Test Program Set&quot; in the movie. In the movie, multiple managers and coworkers inquire about an error that Peter Gibbons makes in omitting a cover sheet to send with his TPS reports. It is used by Gibbons as an example that he has eight different persons he directly reports to.
</p>
<p>
	The 2015 puzzle video game Please, Don't Touch Anything featured the question 'What is a TPS Report?' as one of many hidden clues that lead to a unique ending.
</p>
<p>
	<a href="https://en.wikipedia.org/wiki/TPS_report">Source: Wikipedia</a>
</p>
