@{
    ViewBag.Title = "Privacy Policy";
}

<h1>Try new Flor-A-Flor.</h1>
<h2>For itchy, watery eyes, it's Flor-A-Flor.</h2>
<p>Side effects may include:</p>
<ul>
    <li>nausea</li>
    <li>vomiting</li>
    <li>water weight gain</li>
    <li>lower back pain</li>
    <li>receding hairline</li>
    <li>eczema</li>
    <li>seborrhea</li>
    <li>psoriasis</li>
    <li>itchy chafing clothing</li>
    <li>liver spots</li>
    <li>blood clots</li>
    <li>ringworm</li>
    <li>excessive body odor</li>
    <li>uneven tire wear</li>
    <li>pyorrhea</li>
    <li>gonorrhea</li>
    <li>diarrhea</li>
    <li>halitosis</li>
    <li>scoliosis</li>
    <li>loss of bladder control</li>
    <li>hammertoes</li>
    <li>the shanks</li>
    <li>low sperm count</li>
    <li>warped floors</li>
    <li>cluttered drawers</li>
    <li>hunchback</li>
    <li>heart attack</li>
    <li>low resale value on your home</li>
    <li>feline leukemia</li>
    <li>athlete's foot</li>
    <li>head lice</li>
    <li>club foot</li>
    <li>MS</li>
    <li>MD</li>
    <li>VD</li>
    <li>fleas</li>
    <li>anxiety</li>
    <li>sleeplessness</li>
    <li>drowsiness</li>
    <li>poor gas mileage</li>
    <li>tooth decay</li>
    <li>split ends</li>
    <li>parvo</li>
    <li>warts</li>
    <li>unibrow</li>
    <li>lazy eye</li>
    <li>fruit flies</li>
    <li>chest pains</li>
    <li>clogged drains</li>
    <li>hemorrhoids</li>
    <li>dry heaving</li>
    <li>and sexual dysfunction.</li>
</ul>
<p>-Jeff Foxworthy</p>
